* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-content: center;
  position: relative;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 60px 60px;
}
h1 {
  font-family: monospace;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 50px;
}

#form input {
  display: flex;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  grid-template-columns: 60px 60px;
}
input {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid;
  grid-template-columns: 60px 60px;
}

#comment,
#email {
  width: 500px;
}

#btn {
  width: 400px;
  height: 45px;
  background-color: red;
  border: 1px solid;
  font-family: monospace;
}
